<a href="https://colab.research.google.com/github/younghoonNa/pythonDT/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D_1%EC%9D%BC%EC%B0%A8_%EC%9B%8C%ED%81%AC%EC%83%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

# 데이터 프레임 생성
1) 100에서 200 사이의 값을 60개를 생성합니다(np.random.randint 이용)

2) 생성한 결과를 12,5 형태로 변환합니다.

3) 변환된 데이터를 이용하여 df 데이터 프레임을 생성합니다.

In [163]:
np.random.seed(1234) # 랜덤 -> 랜덤X (값고정)
df = pd.DataFrame(np.random.randint(100,200,60).reshape(12, 5))
df

      0    1    2    3    4
0   147  183  138  153  176
1   124  115  149  123  126
2   130  143  130  126  158
3   192  169  180  173  147
4   150  176  137  134  138
5   167  111  100  175  180
6   103  102  119  112  165
7   175  181  114  171  160
8   146  128  181  187  113
9   196  112  169  195  131
10  189  184  145  116  141
11  172  156  170  156  186

## 컬럼명 변경
- 컬럼명을 ['P01', 'P02', 'P03', 'P04', 'P05']로 수정하세요.

In [164]:
df.columns = ['P01', 'P02','P03', 'P04', 'P05']
df

    P01  P02  P03  P04  P05
0   147  183  138  153  176
1   124  115  149  123  126
2   130  143  130  126  158
3   192  169  180  173  147
4   150  176  137  134  138
5   167  111  100  175  180
6   103  102  119  112  165
7   175  181  114  171  160
8   146  128  181  187  113
9   196  112  169  195  131
10  189  184  145  116  141
11  172  156  170  156  186

## 인덱스 변경
- 인덱스를 2020년 1월 부터 2020년 12월까지 마지막 요일로 설정하세요.

In [165]:
# index 생성 
# date_range 함수 이용 (주기는 월(M)으로 설정)
date = pd.date_range('20200101','20201231', freq='M')
display(date)

DatetimeIndex(['2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30',
               '2020-05-31', '2020-06-30', '2020-07-31', '2020-08-31',
               '2020-09-30', '2020-10-31', '2020-11-30', '2020-12-31'],
              dtype='datetime64[ns]', freq='M')

In [166]:
# index 속성 이용하여 date 변수를 index로 지정하세요.
df.index = date
df

            P01  P02  P03  P04  P05
2020-01-31  147  183  138  153  176
2020-02-29  124  115  149  123  126
2020-03-31  130  143  130  126  158
2020-04-30  192  169  180  173  147
2020-05-31  150  176  137  134  138
2020-06-30  167  111  100  175  180
2020-07-31  103  102  119  112  165
2020-08-31  175  181  114  171  160
2020-09-30  146  128  181  187  113
2020-10-31  196  112  169  195  131
2020-11-30  189  184  145  116  141
2020-12-31  172  156  170  156  186

## 데이터 선택
- 2020년 4월부터 6월까지 행을 출력하세요.

In [167]:
df.loc['2020-04-30':'2020-06-30', :]

            P01  P02  P03  P04  P05
2020-04-30  192  169  180  173  147
2020-05-31  150  176  137  134  138
2020-06-30  167  111  100  175  180

- 2020년 05월 31일의 P01 컬럼 ~ P03 컬럼을 출력하세요.

In [168]:
df.loc['2020-05-31', 'P01':'P03']

P01    150
P02    176
P03    137
Name: 2020-05-31 00:00:00, dtype: int64

- 2020년 01월 31일의 P01 컬럼부터 P05 컬럼의 값을 0으로 설정하세요.

In [169]:
df.loc['2020-01-31', :] = 0
df

            P01  P02  P03  P04  P05
2020-01-31    0    0    0    0    0
2020-02-29  124  115  149  123  126
2020-03-31  130  143  130  126  158
2020-04-30  192  169  180  173  147
2020-05-31  150  176  137  134  138
2020-06-30  167  111  100  175  180
2020-07-31  103  102  119  112  165
2020-08-31  175  181  114  171  160
2020-09-30  146  128  181  187  113
2020-10-31  196  112  169  195  131
2020-11-30  189  184  145  116  141
2020-12-31  172  156  170  156  186

- 각 행의 합을 이용하여 Total 컬럼을 생성하세요
    - total = P01 + P02 + P03 + P04 + P05

In [170]:
df.loc[: , 'total'] = df['P01'] + df['P02'] + df['P03'] + df['P04'] + df['P05']
df

            P01  P02  P03  P04  P05  total
2020-01-31    0    0    0    0    0      0
2020-02-29  124  115  149  123  126    637
2020-03-31  130  143  130  126  158    687
2020-04-30  192  169  180  173  147    861
2020-05-31  150  176  137  134  138    735
2020-06-30  167  111  100  175  180    733
2020-07-31  103  102  119  112  165    601
2020-08-31  175  181  114  171  160    801
2020-09-30  146  128  181  187  113    755
2020-10-31  196  112  169  195  131    803
2020-11-30  189  184  145  116  141    775
2020-12-31  172  156  170  156  186    840

In [171]:
df['total']  = df.loc[:, 'P01':'P05'].sum(axis=1)
df

            P01  P02  P03  P04  P05  total
2020-01-31    0    0    0    0    0      0
2020-02-29  124  115  149  123  126    637
2020-03-31  130  143  130  126  158    687
2020-04-30  192  169  180  173  147    861
2020-05-31  150  176  137  134  138    735
2020-06-30  167  111  100  175  180    733
2020-07-31  103  102  119  112  165    601
2020-08-31  175  181  114  171  160    801
2020-09-30  146  128  181  187  113    755
2020-10-31  196  112  169  195  131    803
2020-11-30  189  184  145  116  141    775
2020-12-31  172  156  170  156  186    840

- Total 컬럼을 Total 컬럼의 총합 값으로 나누어 Total Rate 컬럼을 생성하세요.

In [172]:
df.loc[:, 'Total_Rate'] = df['total'] /  df['total'].sum() 
df

            P01  P02  P03  P04  P05  total  Total_Rate
2020-01-31    0    0    0    0    0      0    0.000000
2020-02-29  124  115  149  123  126    637    0.077419
2020-03-31  130  143  130  126  158    687    0.083495
2020-04-30  192  169  180  173  147    861    0.104643
2020-05-31  150  176  137  134  138    735    0.089329
2020-06-30  167  111  100  175  180    733    0.089086
2020-07-31  103  102  119  112  165    601    0.073043
2020-08-31  175  181  114  171  160    801    0.097351
2020-09-30  146  128  181  187  113    755    0.091760
2020-10-31  196  112  169  195  131    803    0.097594
2020-11-30  189  184  145  116  141    775    0.094191
2020-12-31  172  156  170  156  186    840    0.102090

- Total Rate 컬럼이 가장 낮은 3달을 출력하세요.

In [173]:
df.sort_values('Total_Rate').head(3)

            P01  P02  P03  P04  P05  total  Total_Rate
2020-01-31    0    0    0    0    0      0    0.000000
2020-07-31  103  102  119  112  165    601    0.073043
2020-02-29  124  115  149  123  126    637    0.077419

- Total 값이 700 미만인 데이터를 출력하세요.

In [174]:
df.loc[df['total'] < 700, :]

            P01  P02  P03  P04  P05  total  Total_Rate
2020-01-31    0    0    0    0    0      0    0.000000
2020-02-29  124  115  149  123  126    637    0.077419
2020-03-31  130  143  130  126  158    687    0.083495
2020-07-31  103  102  119  112  165    601    0.073043

- Total 값이 700 미만이면 Bad 700 이상이면 Good의 값을 가지는 state 컬럼을 생성하세요.

In [175]:
df.loc[df['total'] < 700, 'state'] = 'Bad' # Bad
df.loc[df['total'] >= 700, 'state'] = 'Good' # Good
df

            P01  P02  P03  P04  P05  total  Total_Rate state
2020-01-31    0    0    0    0    0      0    0.000000   Bad
2020-02-29  124  115  149  123  126    637    0.077419   Bad
2020-03-31  130  143  130  126  158    687    0.083495   Bad
2020-04-30  192  169  180  173  147    861    0.104643  Good
2020-05-31  150  176  137  134  138    735    0.089329  Good
2020-06-30  167  111  100  175  180    733    0.089086  Good
2020-07-31  103  102  119  112  165    601    0.073043   Bad
2020-08-31  175  181  114  171  160    801    0.097351  Good
2020-09-30  146  128  181  187  113    755    0.091760  Good
2020-10-31  196  112  169  195  131    803    0.097594  Good
2020-11-30  189  184  145  116  141    775    0.094191  Good
2020-12-31  172  156  170  156  186    840    0.102090  Good

- state 컬럼의 Good과 Bad의 갯수를 계산하세요.

In [176]:
df['state'].value_counts()

Good    8
Bad     4
Name: state, dtype: int64

- 합계 행을 추가하세요.

In [178]:
df.loc['합계'] = df.loc[:, 'P01':'total'].sum(axis=0)
df

                        P01     P02     P03  ...   total  Total_Rate  state
2020-01-31 00:00:00     0.0     0.0     0.0  ...     0.0    0.000000    Bad
2020-02-29 00:00:00   124.0   115.0   149.0  ...   637.0    0.077419    Bad
2020-03-31 00:00:00   130.0   143.0   130.0  ...   687.0    0.083495    Bad
2020-04-30 00:00:00   192.0   169.0   180.0  ...   861.0    0.104643   Good
2020-05-31 00:00:00   150.0   176.0   137.0  ...   735.0    0.089329   Good
2020-06-30 00:00:00   167.0   111.0   100.0  ...   733.0    0.089086   Good
2020-07-31 00:00:00   103.0   102.0   119.0  ...   601.0    0.073043    Bad
2020-08-31 00:00:00   175.0   181.0   114.0  ...   801.0    0.097351   Good
2020-09-30 00:00:00   146.0   128.0   181.0  ...   755.0    0.091760   Good
2020-10-31 00:00:00   196.0   112.0   169.0  ...   803.0    0.097594   Good
2020-11-30 00:00:00   189.0   184.0   145.0  ...   775.0    0.094191   Good
2020-12-31 00:00:00   172.0   156.0   170.0  ...   840.0    0.102090   Good
합계                   1744.0  1577.0  1594.0  ...  8228.0         NaN    NaN

[13 rows x 8 columns]

- Total 컬럼의 합계 값을 이용하여 P01부터 P05까지의 비율을 계산 후 합계 비율 행을 추가하세요.

In [179]:
df.loc['합계비율', :] = df.loc['합계', 'P01':'P05'] / df.loc['합계', 'total']
df

                             P01          P02  ...  Total_Rate  state
2020-01-31 00:00:00     0.000000     0.000000  ...    0.000000    Bad
2020-02-29 00:00:00   124.000000   115.000000  ...    0.077419    Bad
2020-03-31 00:00:00   130.000000   143.000000  ...    0.083495    Bad
2020-04-30 00:00:00   192.000000   169.000000  ...    0.104643   Good
2020-05-31 00:00:00   150.000000   176.000000  ...    0.089329   Good
2020-06-30 00:00:00   167.000000   111.000000  ...    0.089086   Good
2020-07-31 00:00:00   103.000000   102.000000  ...    0.073043    Bad
2020-08-31 00:00:00   175.000000   181.000000  ...    0.097351   Good
2020-09-30 00:00:00   146.000000   128.000000  ...    0.091760   Good
2020-10-31 00:00:00   196.000000   112.000000  ...    0.097594   Good
2020-11-30 00:00:00   189.000000   184.000000  ...    0.094191   Good
2020-12-31 00:00:00   172.000000   156.000000  ...    0.102090   Good
합계                   1744.000000  1577.000000  ...         NaN    NaN
합계비율                    0.211959     0.191663  ...         NaN    NaN

[14 rows x 8 columns]