<a href="https://colab.research.google.com/github/younghoonNa/pythonDT/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D_3%EC%A3%BC%EC%B0%A8_%EC%95%84%ED%8C%8C%ED%8A%B8%EC%8B%A4%EA%B1%B0%EB%9E%98%EA%B0%80%EB%B6%84%EC%84%9D_I(%EB%82%98%EC%98%81%ED%9B%88).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!wget http://49.247.133.7/2020-seoul-apt-price.csv
!wget http://49.247.133.7/loc_code.xlsx

--2021-12-30 01:29:02--  http://49.247.133.7/2020-seoul-apt-price.csv
Connecting to 49.247.133.7:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5531058 (5.3M) [text/csv]
Saving to: ‘2020-seoul-apt-price.csv’

2020-seoul-apt-pric 100%[===================>]   5.27M  2.18MB/s    in 2.4s

2021-12-30 01:29:05 (2.18 MB/s) - ‘2020-seoul-apt-price.csv’ saved [5531058/5531058]

--2021-12-30 01:29:05--  http://49.247.133.7/loc_code.xlsx
Connecting to 49.247.133.7:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 11114 (11K) [application/vnd.openxmlformats-officedocument.spreadsheetml.sheet]
Saving to: ‘loc_code.xlsx’

loc_code.xlsx       100%[===================>]  10.85K  --.-KB/s    in 0s

2021-12-30 01:29:05 (228 MB/s) - ‘loc_code.xlsx’ saved [11114/11114]

In [3]:
import pandas as pd
import numpy as np

# 1. 법정동 코드 가공

In [4]:
# loc_code.xlsx 파일을 읽어 locCode 변수에 저장하세요.
locCode = pd.read_excel('loc_code.xlsx')
locCode.head()

     시도명 시군구명   지역코드
0  서울특별시  종로구  11110
1  서울특별시   중구  11140
2  서울특별시  용산구  11170
3  서울특별시  성동구  11200
4  서울특별시  광진구  11215

In [5]:
locCode

         시도명  시군구명   지역코드
0      서울특별시   종로구  11110
1      서울특별시    중구  11140
2      서울특별시   용산구  11170
3      서울특별시   성동구  11200
4      서울특별시   광진구  11215
..       ...   ...    ...
261     경상남도   함양군  48870
262     경상남도   거창군  48880
263     경상남도   합천군  48890
264  제주특별자치도   제주시  50110
265  제주특별자치도  서귀포시  50130

[266 rows x 3 columns]

In [6]:
# 위 데이터 중 서울특별시에 소속된 데이터만 추출하세요
# 추출은 시도명, 시군구명, 지역코드로 한정하세요
loc_Seoul = locCode.loc[locCode['시도명'] == '서울특별시', :]
loc_Seoul

      시도명  시군구명   지역코드
0   서울특별시   종로구  11110
1   서울특별시    중구  11140
2   서울특별시   용산구  11170
3   서울특별시   성동구  11200
4   서울특별시   광진구  11215
5   서울특별시  동대문구  11230
6   서울특별시   중랑구  11260
7   서울특별시   성북구  11290
8   서울특별시   강북구  11305
9   서울특별시   도봉구  11320
10  서울특별시   노원구  11350
11  서울특별시   은평구  11380
12  서울특별시  서대문구  11410
13  서울특별시   마포구  11440
14  서울특별시   양천구  11470
15  서울특별시   강서구  11500
16  서울특별시   구로구  11530
17  서울특별시   금천구  11545
18  서울특별시  영등포구  11560
19  서울특별시   동작구  11590
20  서울특별시   관악구  11620
21  서울특별시   서초구  11650
22  서울특별시   강남구  11680
23  서울특별시   송파구  11710
24  서울특별시   강동구  11740

# 2. 실거래가 데이터 가공

In [7]:
# 2020-seoul-apt-price.csv 파일을 읽어 apt 변수에 저장하세요. encoding 옵션은 'cp949'로 설정합니다.
apt = pd.read_csv('2020-seoul-apt-price.csv', encoding = 'cp949')

apt.head()

   건축년도  거래년도  거래월  거래일자   법정동  ...             아파트이름    전용면적      지번   지역코드   층
0  2007  2020    1     3   필운동  ...      신동아블루아광화문의 꿈  111.97     254  11110   6
1  2008  2020    1     2   사직동  ...  광화문풍림스페이스본(106동)  163.33     9-1  11110   2
2  1994  2020    1     6   내수동  ...             세종로대우  109.91     167  11110  11
3  2004  2020    1     9   내수동  ...              킹스매너  194.43  110-15  11110   4
4  2003  2020    1    20   내수동  ...         경희궁 파크팰리스  148.09      95  11110   8

[5 rows x 11 columns]

In [8]:
apt

       건축년도  거래년도  거래월  거래일자   법정동  ...             아파트이름    전용면적      지번   지역코드   층
0      2007  2020    1     3   필운동  ...      신동아블루아광화문의 꿈  111.97     254  11110   6
1      2008  2020    1     2   사직동  ...  광화문풍림스페이스본(106동)  163.33     9-1  11110   2
2      1994  2020    1     6   내수동  ...             세종로대우  109.91     167  11110  11
3      2004  2020    1     9   내수동  ...              킹스매너  194.43  110-15  11110   4
4      2003  2020    1    20   내수동  ...         경희궁 파크팰리스  148.09      95  11110   8
...     ...   ...  ...   ...   ...  ...               ...     ...     ...    ...  ..
80971  2011  2020   12    21   강일동  ...         고덕리엔파크2단지   84.83     717  11740   5
80972  2009  2020   12    26   강일동  ...         강일리버파크3단지   84.53     674  11740   7
80973  2009  2020   12    26   강일동  ...         강일리버파크4단지   84.83     673  11740  10
80974  2009  2020   12    31   강일동  ...         강일리버파크4단지   84.74     673  11740  12
80975  2009  2020   12    31   강일동  ...         강일리버파크9단지   84.74     699  11740   5

[80976 rows x 11 columns]

In [9]:
# 실거래가 데이터의 컬럼명을 출력하세요
apt.columns

Index(['건축년도', '거래년도', '거래월', '거래일자', '법정동', '거래금액', '아파트이름', '전용면적', '지번',
       '지역코드', '층'],
      dtype='object')

In [10]:
# 데이터의 크기를 조회하세요 (shape)
apt.shape

(80976, 11)

In [11]:
# 각 열 별로 누락 데이터가 있는지 확인하세요
apt.isna().sum()

건축년도      0
거래년도      0
거래월       0
거래일자      0
법정동       0
거래금액      0
아파트이름     0
전용면적      0
지번       25
지역코드      0
층         0
dtype: int64

In [12]:
# 누락 데이터를 제거하세요.(누락데이터가 하나라도 포함된 행은 삭제합니다.)
apt = apt.dropna()
#apt.dropna(inplaec=True)
apt.isna().sum()

건축년도     0
거래년도     0
거래월      0
거래일자     0
법정동      0
거래금액     0
아파트이름    0
전용면적     0
지번       0
지역코드     0
층        0
dtype: int64

In [13]:
# object 타입인 '거래금액' 열을 정수 (int64)로 변경하세요
# 거래금액 컬럼의 ,를 제거 후 정수로 변경하세요.
# df['컬럼명'].str.replace(변경전, 변경후)
apt['거래금액'] = apt['거래금액'].str.replace(',', '').astype('int64')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [15]:
# 데이터의 정보를 출력하여 '거래금액' 열의 타입이 변경됐는지 확인하세요
apt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80951 entries, 0 to 80975
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   건축년도    80951 non-null  int64
 1   거래년도    80951 non-null  int64
 2   거래월     80951 non-null  int64
 3   거래일자    80951 non-null  int64
 4   법정동     80951 non-null  object
 5   거래금액    80951 non-null  int64
 6   아파트이름   80951 non-null  object
 7   전용면적    80951 non-null  float64
 8   지번      80951 non-null  object
 9   지역코드    80951 non-null  int64
 10  층       80951 non-null  int64
dtypes: float64(1), int64(7), object(3)
memory usage: 7.4+ MB

In [16]:
# apt['거래금액'] = pd.to_numeric(apt['거래금액'], errors = 'ignore')
# apt.info()

In [17]:
# 데이터의 정보를 출력하여 '거래금액' 열의 타입이 변경됐는지 확인하세요
apt.head()

   건축년도  거래년도  거래월  거래일자   법정동  ...             아파트이름    전용면적      지번   지역코드   층
0  2007  2020    1     3   필운동  ...      신동아블루아광화문의 꿈  111.97     254  11110   6
1  2008  2020    1     2   사직동  ...  광화문풍림스페이스본(106동)  163.33     9-1  11110   2
2  1994  2020    1     6   내수동  ...             세종로대우  109.91     167  11110  11
3  2004  2020    1     9   내수동  ...              킹스매너  194.43  110-15  11110   4
4  2003  2020    1    20   내수동  ...         경희궁 파크팰리스  148.09      95  11110   8

[5 rows x 11 columns]

In [18]:
# # 데이터의 정보를 출력하여 '거래금액' 열의 타입이 변경됐는지 확인하세요 >> 위에서 해결
# apt['거래금액'] = pd.to_numeric(apt['거래금액'], errors = 'ignore')
# apt.info()

In [31]:
# '전용면적' 열을 이용하여 '전용면적(평)' 열을 추가하세요
# 변환 공식: 전용면적/3.306
# '전용면적(평)'의 값은 round 함수를 활용하여 소수점 둘째자리까지만 표기합니다.
# Ex) round(아파트 전용면적컬럼 데이터, 반올림자리수 )

apt['전용면적(평)'] = round(apt['전용면적'] , 2)
apt.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   건축년도  거래년도  거래월  거래일자   법정동    거래금액  ...    전용면적      지번   지역코드   층   반기 전용면적(평)
0  2007  2020    1     3   필운동  100000  ...  111.97     254  11110   6  상반기  111.97
1  2008  2020    1     2   사직동  162000  ...  163.33     9-1  11110   2  상반기  163.33
2  1994  2020    1     6   내수동   88000  ...  109.91     167  11110  11  상반기  109.91
3  2004  2020    1     9   내수동  130000  ...  194.43  110-15  11110   4  상반기  194.43
4  2003  2020    1    20   내수동  149000  ...  148.09      95  11110   8  상반기  148.09

[5 rows x 13 columns]

In [32]:
# 아래 코드의 <조건> 부분을 완성하여(불리언 인덱싱),
# '거래월'이 7월 전이면 상반기, 
# 7월 이후면 하반기로 설정되는 '반기' 열을 추가하세요
apt['반기'] = 0
apt.loc[apt['거래월'] < 7 , '반기'] = "상반기"
apt.loc[apt['거래월'] >= 7 , '반기'] = "하반기"

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [33]:
apt.head()

   건축년도  거래년도  거래월  거래일자   법정동    거래금액  ...    전용면적      지번   지역코드   층   반기 전용면적(평)
0  2007  2020    1     3   필운동  100000  ...  111.97     254  11110   6  상반기  111.97
1  2008  2020    1     2   사직동  162000  ...  163.33     9-1  11110   2  상반기  163.33
2  1994  2020    1     6   내수동   88000  ...  109.91     167  11110  11  상반기  109.91
3  2004  2020    1     9   내수동  130000  ...  194.43  110-15  11110   4  상반기  194.43
4  2003  2020    1    20   내수동  149000  ...  148.09      95  11110   8  상반기  148.09

[5 rows x 13 columns]

In [34]:
# '전용면적(평)' 열을 이용하여 '평당거래금액' 열을 생성합니다.
apt['평당거래금액'] = apt['거래금액'] /apt['전용면적(평)']
apt.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   건축년도  거래년도  거래월  거래일자   법정동  ...   지역코드   층   반기 전용면적(평)       평당거래금액
0  2007  2020    1     3   필운동  ...  11110   6  상반기  111.97   893.096365
1  2008  2020    1     2   사직동  ...  11110   2  상반기  163.33   991.856977
2  1994  2020    1     6   내수동  ...  11110  11  상반기  109.91   800.655081
3  2004  2020    1     9   내수동  ...  11110   4  상반기  194.43   668.621098
4  2003  2020    1    20   내수동  ...  11110   8  상반기  148.09  1006.144912

[5 rows x 14 columns]

# 3. 데이터 프레임 결합

In [35]:
# '지역코드'를 기준으로 겹치는 지역 코드만 고려하여 법정동 코드 데이터 프레임과 
# 아파트 실거래가 데이터 프레임을 결합합니다.

df = pd.merge(apt, loc_Seoul, on = '지역코드',how = 'inner') 
df.head()

   건축년도  거래년도  거래월  거래일자   법정동  ...   반기 전용면적(평)       평당거래금액    시도명  시군구명
0  2007  2020    1     3   필운동  ...  상반기  111.97   893.096365  서울특별시   종로구
1  2008  2020    1     2   사직동  ...  상반기  163.33   991.856977  서울특별시   종로구
2  1994  2020    1     6   내수동  ...  상반기  109.91   800.655081  서울특별시   종로구
3  2004  2020    1     9   내수동  ...  상반기  194.43   668.621098  서울특별시   종로구
4  2003  2020    1    20   내수동  ...  상반기  148.09  1006.144912  서울특별시   종로구

[5 rows x 16 columns]

In [36]:
# '지역코드' 열은 더이상 필요 없으므로 삭제합니다.
df = df.drop('지역코드', axis = 1)
df.head()

   건축년도  거래년도  거래월  거래일자   법정동  ...   반기 전용면적(평)       평당거래금액    시도명  시군구명
0  2007  2020    1     3   필운동  ...  상반기  111.97   893.096365  서울특별시   종로구
1  2008  2020    1     2   사직동  ...  상반기  163.33   991.856977  서울특별시   종로구
2  1994  2020    1     6   내수동  ...  상반기  109.91   800.655081  서울특별시   종로구
3  2004  2020    1     9   내수동  ...  상반기  194.43   668.621098  서울특별시   종로구
4  2003  2020    1    20   내수동  ...  상반기  148.09  1006.144912  서울특별시   종로구

[5 rows x 15 columns]

In [37]:
# 완성된 데이터의 재사용성을 위해 파일로 저장합니다.
# 파일 이름은 '2020년 서울시 아파트 실거래가_merge.csv',
# encoding은 'cp949'
# index는 제외하고 저장하세요.
df.to_csv('2020년 서울시 아파트 실거래가_merge.csv', index=False, encoding='cp949')

# 4. 데이터 분석

In [38]:
# 2020년에 거래된 평당거래금액이 높은 5개의 거래를 출력합니다.
df.sort_values('평당거래금액', ascending=False).head()

       건축년도  거래년도  거래월  거래일자   법정동  ...   반기 전용면적(평)       평당거래금액    시도명  시군구명
69087  1982  2020    3     4   개포동  ...  상반기   56.57  5471.097755  서울특별시   강남구
68882  1982  2020    2    17   개포동  ...  상반기   58.08  5423.553719  서울특별시   강남구
69097  1982  2020    3    19   개포동  ...  상반기   50.38  5240.174672  서울특별시   강남구
68890  1982  2020    2    20   개포동  ...  상반기   50.64  5134.281201  서울특별시   강남구
69088  1982  2020    3     6   개포동  ...  상반기   41.98  4835.636017  서울특별시   강남구

[5 rows x 15 columns]

In [39]:
# 불리언 인덱싱을 사용해서 2020년 상반기 데이터를 뽑아내고,
# 거래 금액이 높은 5개의 거래를 출력합니다.
df.loc[df['반기'] == '상반기', :].sort_values('거래금액').tail()

      건축년도  거래년도  거래월  거래일자   법정동  ...   반기 전용면적(평)       평당거래금액    시도명  시군구명
1907  2011  2020    2    18   한남동  ...  상반기  240.23  2684.926945  서울특별시   용산구
2351  2011  2020    6    29   한남동  ...  상반기  240.30  2746.566792  서울특별시   용산구
1906  2011  2020    2    17   한남동  ...  상반기  240.23  2747.367107  서울특별시   용산구
2333  2011  2020    6    10   한남동  ...  상반기  240.30  2788.181440  서울특별시   용산구
1981  2011  2020    4    27   한남동  ...  상반기  240.30  3037.869330  서울특별시   용산구

[5 rows x 15 columns]

In [40]:
# groupby를 사용하여, 시군구 별 거래 금액의 합계와 평균 금액을 구하고
# 거래 금액의 평균이 높은 순서대로 정렬합니다.
pd.DataFrame(df.groupby('시군구명')['거래금액'].agg(['sum', 'mean'])).sort_values('mean', ascending=False)

            sum           mean
시군구명
강남구   655663087  180523.977698
서초구   550608694  174519.395880
용산구   219369564  150769.459794
송파구   583141519  130369.219539
성동구   331737193  113725.468975
광진구   132848700  106791.559486
마포구   278445244  101252.816000
동작구   275499081   97487.289809
중구     90528205   92187.581466
영등포구  299456715   89657.699102
양천구   298352977   88874.881442
강동구   346750637   83695.543567
종로구    62110771   82924.927904
서대문구  213228968   78624.250737
동대문구  218203716   70776.424262
성북구   285275616   68592.357778
강서구   383205183   67763.958090
은평구   206762892   62466.130514
관악구   159871672   62182.680669
강북구   117543500   55840.142518
구로구   265591417   54536.225257
노원구   454525680   52166.381269
중랑구   139125390   50701.672741
금천구    76984085   47113.883109
도봉구   199920400   45727.447392

In [45]:
# 거래월과 시군구별 거래량(거래 건 수)을 피벗테이블로 표현하세요
pv_table = df.pivot_table(index='시군구명', values='거래금액',  columns='거래월', aggfunc='size')
pv_table

거래월    1     2    3    4    5     6    7    8    9    10   11   12
시군구명
강남구   131   237  135  145  331   789  365  227  177  215  418  462
강동구   336   392  165  127  317   871  558  314  200  195  328  340
강북구   313   262  161   99  132   371  207   95   78  122  107  158
강서구   425   459  247  188  327  1128  956  413  303  330  456  423
관악구   235   296  178  139  165   503  298  116  116  128  179  218
광진구    63   113   52   40   79   229  194   93   76   72  105  128
구로구   443   574  310  229  356   864  551  257  219  234  463  370
금천구   125   185  176   53   99   228  174   89   67   67  116  255
노원구   815  1154  625  371  621  1722  927  381  308  395  620  774
도봉구   367   563  308  199  280   845  604  200  147  204  301  354
동대문구  287   343  172  121  215   529  387  200  154  162  230  283
동작구   208   278  118   50  148   535  483  217  146  152  215  276
마포구   182   211  112   63  162   491  469  209  164  180  261  246
서대문구  227   271  137   87  186   491  377  180  157  167  200  232
서초구   121   178  116   94  212   545  431  275  199  232  322  430
성동구   206   284  151   76  176   646  386  204  143  142  223  280
성북구   448   521  241  174  258   843  566  245  140  160  263  300
송파구   221   359  146  138  347  1134  560  281  225  229  367  466
양천구   241   313  168  113  249   688  491  198  151  178  245  322
영등포구  307   348  146  122  241   602  420  207  154  206  265  322
용산구   103    80   37   31  125   260  178  108  103  125  141  164
은평구   313   355  203  175  235   548  491  194  150  180  224  242
종로구    65    57   43   27   55   115   97   49   34   76   64   67
중구     84    93   62   35   55   164  140   71   52   71   76   79
중랑구   237   364  207  136  220   469  343  156  103  154  159  196

In [43]:
# 시군구가 강남구인 데이터를 추출하세요
gangnam = df.loc[df['시군구명'] == '강남구' , :]
gangnam

       건축년도  거래년도  거래월  거래일자   법정동  ...   반기 전용면적(평)       평당거래금액    시도명  시군구명
68703  2003  2020    1     3   역삼동  ...  상반기   24.00   841.666667  서울특별시   강남구
68704  2004  2020    1     3   역삼동  ...  상반기   99.22   776.053215  서울특별시   강남구
68705  1996  2020    1     4   역삼동  ...  상반기   41.95   941.597139  서울특별시   강남구
68706  1998  2020    1     6   역삼동  ...  상반기   59.82  2487.462387  서울특별시   강남구
68707  2002  2020    1     6   역삼동  ...  상반기   33.48  1672.640382  서울특별시   강남구
...     ...   ...  ...   ...   ...  ...  ...     ...          ...    ...   ...
72330  1995  2020   12    30   도곡동  ...  하반기   84.97  2294.927622  서울특별시   강남구
72331  2006  2020   12    30   도곡동  ...  하반기  134.90  2705.707932  서울특별시   강남구
72332  2001  2020   12    31   도곡동  ...  하반기  122.81  2361.371224  서울특별시   강남구
72333  2004  2020   12    31   도곡동  ...  하반기  122.07  1703.940362  서울특별시   강남구
72334  2006  2020   12    31   도곡동  ...  하반기   67.57  1331.952050  서울특별시   강남구

[3632 rows x 15 columns]

In [46]:
# 강남구의 아파트 단지별 평균 거래 금액을 계산 후 상위 5개를 출력합니다.
pd.DataFrame(gangnam.groupby(['아파트이름'])['거래금액'].mean()).sort_values('거래금액', ascending=False).head()

                    거래금액
아파트이름
효성빌라 청담101(A동)  620000.0
상지리츠빌 카일룸       565400.0
청담 어퍼하우스        519500.0
한양8(81동한개동)     491600.0
아펠바움            480000.0

In [50]:
# pv_gangnam = pd.DataFrame(gangnam.groupby(['법정동', '거래월'])['거래금액'].mean()).sort_values('거래금액', ascending=False)
# pv_gangnam = round(pv_gangnam, 2)
# pv_gangnam

In [49]:
# 피벗 테이블 이용하여 강남구의 거래월과 법정동의 평균거래금액을 계산합니다. (NA는 0으로 치환합니다.)
# 완성된 피벗 테이블 뒤에
# pivot_table( ... ).round(반올림자리수)
# 형태로 소수점 둘째자리까지 출력합니다.
# 거래월과 시군구별 거래량(거래 건 수)을 피벗테이블로 표현하세요
pv_gang_table = gangnam.pivot_table(values='거래금액', index='법정동', columns='거래월', aggfunc = 'mean').fillna(0).round(2)
pv_gang_table

거래월           1          2          3   ...         10         11         12
법정동                                     ...
 개포동   161583.33  181135.39  182202.38  ...  176572.22  202102.94  182220.97
 논현동   125244.44   94079.17   82958.33  ...  123139.90  122465.33  120650.00
 대치동   226214.29  204231.43  229107.69  ...  255983.33  186921.05  241755.50
 도곡동   214590.00  196096.88  153986.96  ...  225534.62  238560.34  214466.15
 삼성동   186000.00  168476.19  186737.50  ...  140814.29  136419.00  132126.11
 세곡동   114200.00  112340.00  114666.67  ...  142250.00  137500.00  136807.69
 수서동   100200.00  101650.00  115416.67  ...  152166.67  133840.29  135176.92
 신사동   106571.43  106750.00  103900.00  ...  261333.33  254500.00  264625.00
 압구정동  290333.33  247100.00  315600.00  ...  320208.33  293886.67  309497.44
 역삼동    82457.50  111055.71  127842.86  ...  130562.69  154048.78  148110.00
 율현동   130000.00       0.00       0.00  ...       0.00       0.00       0.00
 일원동   167666.67  174800.00  155500.00  ...  186423.08  167857.89  201248.28
 자곡동   146000.00  146100.00  156666.67  ...   93380.30   92769.70  103645.74
 청담동   112760.00  178641.67  197311.11  ...  192414.29  202190.91  272846.15

[14 rows x 12 columns]